<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghml.feiniao.common.mapper.CreatorMapper">

    <select id="selectCreatorsByConditions" resultType="com.ghml.feiniao.common.entity.CreatorEntity">
        SELECT DISTINCT
        cu.user_id,
        cu.username,
        cu.gender,
        cu.video_price,
        cu.country_code,
        cu.age_range,
        c.country_name
        FROM creator_user cu
        INNER JOIN creator_platform_mapping cpm ON cu.user_id = cpm.creator_id
        INNER JOIN country c ON cu.country_code = c.country_code
        INNER JOIN creator_type_mapping ctm ON cu.user_id = ctm.creator_id
        INNER JOIN creator_tag_mapping m ON cu.user_id = m.creator_id
        INNER JOIN creator_specialty_mapping csm ON cu.user_id = csm.creator_id
        WHERE 1=1
        <!-- 平台编码筛选 -->
        <if test="query.platformCodes != null and query.platformCodes.size() > 0">
            AND cpm.platform_code IN
            <foreach collection="query.platformCodes" item="platform" open="(" close=")" separator=",">
                #{platform}
            </foreach>
        </if>

        <!-- 国家代码筛选 -->
        <if test="query.countryCodes != null and query.countryCodes.size() > 0">
            AND cu.country_code IN
            <foreach collection="query.countryCodes" item="country" open="(" close=")" separator=",">
                #{country}
            </foreach>
        </if>

        <!-- 模特类型筛选 -->
        <if test="query.modelTypeIds != null and query.modelTypeIds.size() > 0">
            AND ctm.model_type_id IN
            <foreach collection="query.modelTypeIds" item="type" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>

        <!-- 模特性别筛选 -->
        <if test="query.genders != null and query.genders.size() > 0">
            AND cu.gender IN
            <foreach collection="query.genders" item="gender" open="(" close=")" separator=",">
                #{gender}
            </foreach>
        </if>

        <!-- 年龄范围筛选 -->
        <if test="query.ageRanges != null and query.ageRanges.size() > 0">
            AND cu.age_range IN
            <foreach collection="query.ageRanges" item="age" open="(" close=")" separator=",">
                #{age}
            </foreach>
        </if>

        <!-- 擅长品类筛选 -->
        <if test="query.specialtyIds != null and query.specialtyIds.size() > 0">
            AND csm.specialty_id IN
            <foreach collection="query.specialtyIds" item="specialty" open="(" close=")" separator=",">
                #{specialty}
            </foreach>
        </if>

        <!-- 模特标签筛选 -->
        <if test="query.modelTagIds != null and query.modelTagIds.size() > 0">
            AND m.tag_id IN
            <foreach collection="query.modelTagIds" item="tag" open="(" close=")" separator=",">
                #{tag}
            </foreach>
        </if>
        ORDER BY cu.user_id
    </select>

</mapper>